@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.account_wrapper {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.account_dataWrapper {
    width: 90%;
    height: 80vh;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
}

.account_sidebar {
    width: 20%;
    align-items: flex-start;
    justify-content: left;
    align-content: flex-start;
    display: flex;
    line-height: 2.3;
    flex-direction: column;
    margin-right: 2rem;
    margin-bottom: 11rem;
}

.account_data{
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 5rem;
}

.account_sidebar .material-symbols-outlined {
    list-style: none;
    vertical-align: middle;
    margin-right: 1rem;
    font-size: 2rem !important;
    cursor: pointer;
}

.account_sidebar h1 {
    color: #101010;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    transition: .3s all;
}

.account_sidebar h1:hover {
    color: #fc466b;
    padding-left: 0.625rem;
}

.account_loginWrapper {
    width: 90%;
    height: 80vh;
    align-items: center;
    margin-top: 5rem;
    background-color: #FFFFFF;
    border-radius: 5rem;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
}