@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-font-size: 16px !important;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.account_header_wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.account_header_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 50%;
    height: 65vh;
    background-color: transparent;
    margin-left: 30vmin;
    z-index: -1;
}

.account_header_container h1 {
    font-size: 6vmin;
}

.account_header_container h4 {
    font-size: 2vmin;
}

.account_header_logout {
    position: absolute;
    top: 70%;
    left: 15%;
    width: auto;
    margin-top: 2vmin;
    z-index: 2 !important;
}

#logout {
    display: inline-block;
    z-index: 2 !important;
}

.account_header_image {
    display: flex;
    overflow: visible;
    flex-direction: column;;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 65vh;
    width: 50%;
    z-index: -1;
}

.account_header_image img {
    background-size: contain;
    max-width: 150%;
}

.account_wrapper {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 10vmin;
    width: 100%;
    height: 100%
}

.account_wrapper_info {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.account_grid_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr 1fr;
    row-gap: 5vmin;
    column-gap: 5vmin;
    border-radius: 5vmin;
    width: 70%;
    height: 100%;
    position: relative;
    top: -10vmin;
}

.grid_container {
    background: #FFFFFF;
    border-radius: 3vmin;
    box-shadow: 0 0 10px #888888;
    padding: 3vmin;
    margin-bottom: 10vmin;
    width: auto;
    height: 100%;
}

.account_dash_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.account_dash_wrapper form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding-left: 6vmin;
    position: relative;
}

.account_double_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dash_label_headers {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.dash_label_headers h4 {
    font-weight: 400;
    font-size: 1.5vmin;
    width: 50%;
}

.dash_label_headers.account_double_container h4:first-of-type {
    margin-right: 1vmin;
}

.account_double_container input:first-of-type {
    margin-right: 1vmin;
}

.account_dash_wrapper input {
    margin-bottom: .5vmin;
    font-size: 1.5vmin;
    color: #101010;
    border: none;
    outline: none;
    font-weight: 500;
    text-indent: 2px;
    appearance: none;
    padding: 1vmin;
    background: #f1f1f1;
    border-radius: 1vmin;
}

.account_dash_wrapper #email {
    width: 100%;
}

.account_error_container {
    width: 100%;
    margin-top: 1vmin;
    display: flex;
}

.account_error_container h4 {
    visibility: visible;
    font-weight: 400;
    font-size: 1.5vmin;
    color: #fc466b;
}

.seperate_header {
    width: 30%;
}

.seperate_header h1 {
    margin-right: 2vmin;
    font-size: 3.8vmin;
}

.seperate_header h4 {
    margin-top: 2vmin;
    font-weight: 500;
    font-size: 1.8vmin;
}

.seperate_header a {
    font-size: 1.8vmin;
    text-decoration: underline;
    color: #fc466b;
    text-underline: #fc466b;
    cursor: pointer;
}

.split_divs {
    display: flex;
}

.underline_grid h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fc466b;
}

.flex_display {
    display: flex;
    flex-direction: column;
}

.standard_address_wrapper,
.standard_payment_wrapper {
    display: flex;
    padding-top: 5vmin;
    padding-left: 1vmin;
    position: relative;
    height: 90%;
    width: 100%;
    flex-direction: column;
}

.address_data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.address_data #noEmail {
    font-size: 1.8vmin;
    font-weight: 500;
}

.payment_card {
    height: 80%;
    width: 100%;
    background-image: linear-gradient(204deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 2.5vmin;
    color: white;
    font-size: 2vmin;
    box-shadow: 2px 2px 20px #707070;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    transition: ease-in-out .3s;
}

.payment_card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.card_info {
    width: 100%;
    padding: 2vmin;
    color: #FFFFFF;
    font-size: 2vmin;
    text-align: center;
    position: absolute;
}

.card_info h4 {
    font-weight: 600;
}

.card_middle h4 {
    font-weight: 400;
    font-size: 2vmin;
}

.card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    top: 0;
}

.card_middle {
    top: 35%;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    bottom: 0;
}

.card_bottom h5 {
    text-align: left;
    font-size: 1vmin;
    font-weight: 400;
}

.purchases_wrapper {
    width: 100%;
    height: 80%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5vmin;
    padding-right: 5vmin;
    text-decoration: none;
}

.noPurchases {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 5vmin;
    padding-right: 5vmin;
    text-decoration: none;
}

.noPurchases h3 {
    font-size: 2vmin;
    font-weight: 500;
}

.noPurchases h4 {
    font-weight: 500;
    font-size: 1.3vmin;
    padding-bottom: 4vmin;
}

.noPurchases a {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.7vmin;
    transition: 0.3s;
    border-style: none;
    outline-style: none;
}

.orders_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid_item {
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid_description {
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.grid_description h4 {
    font-size: 1.6vmin;
    font-weight: 400;
}

.grid_inline {
    display: flex;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.grid_description h4#title {
    font-weight: 500;
    padding-right: 1vmin;
}

.grid_item img {
    max-width: 265px;
    max-height: 200px;
    width: 265px;
    height: 200px;
}

.account_section_button {
    width: auto;
    height: auto;
    display: flex !important;
    justify-content: flex-end !important;
    align-content: flex-end !important;
    align-items: flex-end !important;
}

.account_section_button a,
.account_header_logout a {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.7vmin;
    transition: 0.3s;
    border-style: none;
    outline-style: none;
}

.account_subsection_button {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.account_subsection_button a,
.account_subsection_button button {
    position: absolute;
    font-weight: 500;
    width: auto;
    bottom: -1vmin;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.7vmin;
    transition: ease-in-out 0.3s;
    border-style: none;
    outline-style: none;
}

.account_subsection_button button:hover,
.account_subsection_button a:hover,
.account_section_button a:hover,
.account_header_logout a:hover,
.add_address button:hover,
.noPurchases a:hover {
    color: #fc466b;
    transform: scale(1.05);
    cursor: pointer;
}

.account_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    overflow: hidden;
    background-color: rgba(252, 70, 107, 0.4);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.modal_container {
    background-color: #FFFFFF;
    border-radius: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    padding: 4vmin;
}

.modal_container_delete {
    height: 35%;
    width: 30%;
}

.modal_container_address,
.modal_container_order {
    height: 80%;
    width: 65%;
}

.modal_text,
.modal_input,
.modal_buttons {
    width: 100%;
}

.modal_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    align-content: flex-start;
}

.modal_header h3,
.modal_header span {
    color: #fc466b;
    font-size: 2vmin;
    font-weight: 600;
    margin-bottom: 1vmin;
}

.modal_header span {
    margin-right: .5vmin;
}

.modal_text p {
    font-weight: 500;
    font-size: 1.5vmin;
}

#sad_life {
    margin-top: 2vmin;
    margin-bottom: 1vmin;
}

.modal_input {
    margin-top: 2vmin;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.modal_input form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.modal_input form input {
    margin-bottom: 2vmin;
    font-size: 1.5vmin;
    color: #101010;
    border: none;
    outline: none;
    font-weight: 500;
    text-indent: 2px;
    appearance: none;
    padding: 1vmin;
    background: #f1f1f1;
    border-radius: 1vmin;
}

#delemail {
    width: 55%;
}

#delpassword {
    width: 40%;
}

.modal_buttons {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: flex-end;
}

.modal_buttons button,
.orders_products_button button {
    font-weight: 500;
    width: auto;
    bottom: -1vmin;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.2vmin;
    transition: ease-in-out 0.3s;
    border-style: none;
    outline-style: none;
}

.modal_buttons button:hover,
.orders_products_button button:hover {
    cursor: pointer;
    color: #fc466b;
    transform: scale(1.05);
}

#delete_Account:hover {
    color: #101010;
}

#delete_Account {
    margin-left: 1.5vmin;
    background-color: #f0594d;
}

.modal_address_grid_wrapper {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    width: 95%;
    height: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5vmin;
    column-gap: 2.3rem;
    padding: 5vmin 5vmin 5vmin;
}

.modal_address_grid_container {
    width: 100%;
    max-width: 100%;
    height: 120%;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    padding: 3vmin 3vmin 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-height: 120%;
    overflow: hidden;
}

.addressitem_container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 6vmin;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
}

.address_setting_container a {
    text-decoration: none;
    color: #101010;
}

.addressitem_container h2 {
    font-size: 3vmin;
}

.addressitem_container h4 {
    font-size: 2vmin;
    overflow-wrap: anywhere;
    word-wrap: break-word;
}

.address_setting_container {
    position: absolute;
    right: -2vmin;
    bottom: 1vmin;
}

.address_setting_container span {
    transition: 0.3s;
}

.addressitem_container .defaultText {
    position: absolute;
    top: -2vmin;
    font-size: 1.25vmin;
    font-weight: 400;
}

.address_setting_container span:hover {
    color: #fc466b;
}

.modal_orders_grid_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    display: grid;
    width: 95%;
    height: 80%;
    grid-template-columns: 1fr;
    row-gap: 2vmin;
    column-gap: 2.3rem;
    padding-top: 2vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    overflow: scroll;
    overflow-x: hidden;
}

.modal_orders_grid_container {
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: relative;
}

.order_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.orders_info_image {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.orders_info_image img {
    max-width: 265px;
    max-height: 200px;
    width: 265px;
    height: 200px;
}

.orders_info_description {
    width: 65%;
    padding-left: 2vmin;
}

.orders_info_description h4,
.single_order_product_description h4 {
    font-weight: 500;
    font-size: 1.5vmin;
}

.orders_info_title,
.single_order_product_description h2 {
    padding-bottom: 1.5vmin;
}

.orders_info_title h2,
.single_order_product_description h2 {
    font-size: 2vmin;
    font-weight: 600;
}

#order_text_shadow,
#address_text_shadow {
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.orders_products_button {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.single_order_grid_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    display: grid;
    width: 0;
    height: 0;
    opacity: 0;
    margin-top: 0;
    grid-template-columns: 1fr;
    row-gap: 1vmin;
    transition: all 0s;
}

.open {
    width: 100%;
    height: auto;
    opacity: 1;
    margin-top: 1.2vmin;
    transition: all cubic-bezier(.13, 1, 0, .89) 1s;
}

.single_order_grid_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding-left: 8vmin;
    border-top-color: #888888;
    border-top-style: solid;
    border-top-width: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: relative;
}

.single_order_item_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.single_order_product_image {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.single_order_product_image img {
    max-width: 265px;
    max-height: 200px;
    width: 265px;
    height: 200px;
}

#addAddress {
    width: 100%;
    height: auto;
}

.add_address_oneline {
    display: flex;
    flex-direction: row;
}

.add_address h2 {
    padding-bottom: 1vmin;
}

.addressitem_container form input {
    margin-bottom: .5vmin;
    width: 100%;
    font-size: 1.5vmin;
    color: #101010;
    border: none;
    outline: none;
    font-weight: 500;
    text-indent: 2px;
    appearance: none;
    padding: .5vmin;
    background: #f1f1f1;
    border-radius: 1vmin;
}

.add_address_oneline input:last-child {
    width: 30%;
    margin-left: 1vmin;
}

.addressitem_addbutton {
    display: flex;
    padding-top: 1vmin;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.addressitem_addbutton button {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: .8vmin;
    transition: ease-in-out 0.3s;
    border-style: none;
    outline-style: none;
}

