@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
body {
    line-height: 1.5;
    background-color: #f9d4dc;

}

.imgheader {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 90vh;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.imgheader img {
    background-size: cover;
    overflow: hidden;
    height: auto;
}

.imgheader h1 {
    position: absolute;
    font-size: 6rem;
    font-weight: 800;
    color: #fc466b;
}

.account_wrapper {
    position: relative;
    line-height: 1.5;
    width: 100vw;
    height: 101vh;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.account_dataWrapper {
    width: 90%;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    filter: alpha(opacity=50);
    opacity: 0.93;
}

.account_sidebar {
    width: 20%;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    display: flex;
    line-height: 2.3;
    height: 95%;
    flex-direction: column;
    margin-right: 2rem;
}

.account_sidebar .material-symbols-outlined {
    list-style: none;
    vertical-align: middle;
    margin-right: 1rem;
    font-size: 2rem !important;
    cursor: pointer;
}

.account_sidebar h1 {
    color: #101010;
    font-size: 2.5vmin;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    transition: .3s all;
}

.account_sidebar h1:hover {
    padding-left: 0.425rem;
}

.account_sidebar a {
    text-decoration: none;
    cursor: pointer;
}

.account_data{
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 5rem;
}

.account_data section{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 5rem;
    background-color: #f9d4dc;
}

.dash {
    width: 80%;
}

.dash_grid_wrapper {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
    border-radius: 2rem;
}

.grid {
    border-radius: inherit;
    height: 100%;
    background-color: #ffffff;
    width: 100%;
}

.grid_single {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_single h1,
.grid_double h1{
    text-align: center;
    padding-left: 5%;
}

.grid_double {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.double_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.double_header a {
    font-weight: 500;
    right: 0;
    width: auto;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 2rem;
    background-color: #101010;
    margin-top: .5rem;
    margin-right: 2vmin;
    padding: 1rem;
    transition: 0.3s;
}

.double_header a:hover{
    color: #fc466b;
}

.account_data h1 {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    font-weight: 800;
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #1c1c1c;
}

.account_data p {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    white-space: initial;
    text-align: left;
    color: #1c1c1c;
}

#logout {
    position: absolute;
    cursor: pointer;
    color: #fc466b;
    left: 0;
    bottom: 0;
}

.griditem_container {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.griditem_container h3{
    width: auto;
    font-weight: 600;
    font-size: 1.25rem;
    color: #101010;
    padding: 0.938rem 0.625rem;
    margin-bottom: 1rem;
}

.griditem_container h4{
    width: 35vmin;
    font-weight: 500;
    font-size: 1rem;
    color: #101010;
    padding: 1.8vmin 1vmin;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    background: linear-gradient(#101010, #101010) center bottom 5px /calc(100% - 10px) 1px no-repeat;
    background-color: transparent;
}

.griditem_container a {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 2rem;
    background-color: #101010;
    margin-top: 5%;
    padding: 1rem;
    transition: 0.3s;
}

.griditem_container a:hover {
    color: #fc466b;
}

.purchases_wrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding-right: 2vmin;
    padding-left: 2vmin;
}

.purchase_grid_item{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: space-between;
}

.selection_wrapper {
    display: flex;
    border-radius: 2rem;
    height: 90%;
    background-color: #ffffff;
    width: 90%;
}