@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.account_header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.account_page_header {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 45vh;
    padding-top: 20vmin;
    background-color: #f9d4dc;
    z-index: -1;
}

.account_page_header img {
    background-size: cover;
    overflow: hidden;
    height: auto;
}

.account_page_header h1 {
    position: absolute;
    font-size: 10vmin;
    font-weight: 800;
    color: #fc466b;
}

.searchbar_wrapper {
    width: 50%;
    top: 42vmin;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.searchbar_wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.searchbar_container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.searchbar_container input {
    font-size: 2vmin;
    color: #101010;
    padding: 1.5vmin 1vmin;
    border: none;
    outline: none;
    border-radius: 3rem 0 0 3rem;
    width: 45%;
    background-color: #ffffff;
    box-shadow: 0 0 10px #888888;
    text-indent: 25px;
    font-weight: 500;
}

.searchbar_container button {
    font-size: 2vmin;
    font-weight: 300;
    color: #FFFFFF;
    padding: 1.5vmin 1vmin;
    outline: none;
    border: none;
    border-radius: 0 3rem 3rem 0;
    box-shadow: 0 0 10px #888888;
    width: 20%;
    background-color: #101010;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchbar_container button:hover {
    color: #fc466b;
}

.account_wrapper {
    position: relative;
    line-height: 1.5;
    width: 100vw;
    height: 101vh;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.account_dataWrapper {
    width: 90%;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    filter: alpha(opacity=50);
    opacity: 0.93;
}

.account_sidebar {
    width: 20%;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    display: flex;
    line-height: 2.3;
    height: 95%;
    flex-direction: column;
    margin-right: 2rem;
}

.account_sidebar .material-symbols-outlined {
    list-style: none;
    vertical-align: middle;
    margin-right: 1rem;
    font-size: 2rem !important;
    cursor: pointer;
}

.account_sidebar h1 {
    color: #101010;
    font-size: 2.5vmin;
    text-decoration: none;
    font-weight: 800;
    text-align: center;
    transition: .3s all;
}

.account_sidebar h1:hover {
    padding-left: 0.425rem;
}

.account_sidebar a {
    text-decoration: none;
    cursor: pointer;
}

.account_data{
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 5rem;
}

.account_data section{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 5rem;
    background-color: #f9d4dc;
}

.dash {
    width: 80%;
}

.dash_grid_wrapper {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    border-radius: 2rem;
}

.grid {
    border-radius: inherit;
    height: 100%;
    background-color: #ffffff;
    width: 100%;
}

.grid_single {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_single h1,
.grid_double h1{
    text-align: center;
    padding-left: 5%;
}

.grid_double {
    width: 100%;
    height: auto;
}

.double_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1vmin;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.double_header a {
    font-weight: 500;
    right: 0;
    width: auto;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 2rem;
    background-color: #101010;
    margin-top: .5rem;
    margin-right: 2vmin;
    padding: 1rem;
    transition: 0.3s;
}

.double_header a:hover{
    color: #fc466b;
    cursor: pointer;
}

.account_data h1 {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    font-weight: 800;
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #1c1c1c;
}

.account_data p {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    white-space: initial;
    text-align: left;
    color: #1c1c1c;
}

#logout {
    position: absolute;
    cursor: pointer;
    color: #fc466b;
    left: 0;
    bottom: 0;
}

.griditem_container {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.griditem_container h3{
    width: auto;
    font-weight: 600;
    font-size: 1.25rem;
    color: #101010;
    padding: 0.938rem 0.625rem;
    margin-bottom: 1rem;
}

.griditem_container h4{
    width: 35vmin;
    font-weight: 500;
    font-size: 1rem;
    color: #101010;
    padding: 1.8vmin 1vmin;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    background: linear-gradient(#101010, #101010) center bottom 5px /calc(100% - 10px) 1px no-repeat;
    background-color: transparent;
}

.griditem_container a {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 2rem;
    background-color: #101010;
    margin-top: 5%;
    padding: 1rem;
    transition: 0.3s;
}

.griditem_container a:hover {
    color: #fc466b;
    cursor: pointer;
}

.standard_address_wrapper {
    height: 70%;
    width: 100%;
    margin-left: 10vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.standard_address_wrapper h4 {
    font-weight: 500;
}

.purchases_wrapper {
    width: 100%;
    height: auto;
    padding-right: 2vmin;
    padding-left: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.purchase_image{
    width: 50%;
    display: flex;
}

.purchase_image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.purchase_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.purchase_info h4{
    font-weight: 500;
}

.address_grid_wrapper {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-rows: .8fr .8fr .8fr;
    grid-template-columns: .8fr .8fr .8fr;
    row-gap: 2rem;
    column-gap: 2.3rem;
    padding-left: 5vmin;
    padding-right: 5vmin;
}

.grid_triple {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    padding: 6vmin 6vmin 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.addressitem_container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 6vmin;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.addressitem_container h1 {
    font-size: 3vmin;
}

.addressitem_container h4 {
    font-size: 2vmin;
    overflow-wrap: anywhere;
    word-wrap: break-word;
}

.address_setting_container {
    position: absolute;
    right: -2vmin;
    bottom: 1vmin;
}

.address_setting_container span {
    transition: 0.3s;
}

.addressitem_container .defaultText {
    position: absolute;
    top: -5vmin;
    font-size: 1.25vmin;
    font-weight: 400;
}

.address_setting_container span:hover{
    color: #fc466b;
}