@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

body {
    line-height: 1.5;
    background-color: #f9d4dc;

}
.parentbox{
    padding: 10px;
    position: relative;
    margin: 3px;
}
.button{
    display: inline-block;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 0.5em 1.5em;
    font-size: 2rem;
    background-image: linear-gradient(to right, #f9d4dc, #87f1ff);
    background-size: 1500%;
    background-position: left;
    transition: background-position 0.5s;
    cursor: pointer;

}
.button:hover{
    background-position: right;
}
hr{

    height: 5px;
    background-color: black;
}
.Produkte, .Sale, .Kategorien ,.Versandmethoden, .Bestellungen,.Nutzer{

    display: inline-block;
}