@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-font-size: 16px !important;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.cart_header_wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cart_header_container {
    overflow: hidden;
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 50%;
    height: 65vh;
    background-color: transparent;
    margin-left: 30vmin;
    z-index: -1;
}

.cart_header_container h1 {
    font-size: 6vmin;
}

.cart_header_container h4 {
    font-size: 2vmin;
}

.cart_header_image {
    display: flex;
    overflow: visible;
    flex-direction: column;;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 65vh;
    width: 50%;
    z-index: -1;
}

.cart_header_image img {
    background-size: contain;
    max-width: 150%;
}

.cart_wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 5vmin;
    width: 100%;
    height: 90%
}

.cart_grid_wrapper {
    display: grid;
    grid-template-columns: 2fr .8fr;
    grid-auto-rows: 1fr minmax(min-content, max-content);
    row-gap: 5vmin;
    column-gap: 5vmin;
    border-radius: 5vmin;
    width: 80%;
    height: 100%;
    position: relative;
    top: -10vmin;
}

.cart_grid_container {
    background: #FFFFFF;
    border-radius: 3vmin;
    box-shadow: 0 0 10px #888888;
    padding: 3vmin;
    margin-bottom: 10vmin;
    width: auto;
    height: auto;
}

.cart_grid_container_header {
    width: 100%;
    height: auto;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cart_grid_container_header h4 {
    font-size: 2.5vmin;
    font-weight: 600;
}

.cart_products_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: fit-content;
}

.cart_products_grid_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cart_product_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-right: 4vmin;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cart_product_data_image {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cart_product_data_image img {
    width: 100%;
    height: 100%;
}

.cart_product_data_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 100%;
    height: 60%;
}

#mainItemDescription {
    align-items: flex-start;
    padding-left: 1vmin;
}

.cart_product_data_description h3{
    font-weight: 600;
    font-size: 2vmin;
}

.cart_product_data_description h4{
    font-weight: 600;
    font-size: 1.5vmin;
}

.flexCol {
    flex-direction: column;
}

.smallerDiv {
    width: 70%
}

.cart_product_data_settings {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding-left: 2vmin;
    padding-right: 2vmin;
    width: auto;
    height: 60%;
}

.cart_product_data_settings h4 {
    font-weight: 700;
    font-size: 2vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    text-align: center;
}

.cart_product_data_settings span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonAmount {
    border: none;
    background: none;
    color: #101010;
    cursor: pointer;
    transition: 1s;
    width: auto;
    height: auto;
}

.material-icons.md40 {
    font-size: 40px; !important;
    transition: .3s;
}

.buttonAmount .material-icons:hover,
.buttonAmount .material-icons:focus {
    transform: scale(1.05);
    color: #fc466b;
}

.cart_product_data_settings:last-of-type {
    padding-right: 0;
}

.limited_height {
    height: 45vh;
}

.cart_products_checkout_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4vmin 2vmin 2vmin;
    border-radius: 3vmin;
}

.cart_checkout_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cart_checkout_info h3{
    font-weight: 600;
    font-size: 2vmin;
}

.dashBorder {
    border-bottom-color: #888888;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    padding-bottom: 1vmin;
}

#lieferkosten {
    font-size: 1.5vmin;
    max-width: 40%;
    text-align: center;
}

.cart_checkout_buttons {
    border-top-color: #888888;
    border-top-style: dashed;
    border-top-width: 2px;
    padding-top: 2vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cart_checkout_buttons button {
    width: 90%;
    font-weight: 500;
    text-align: center;
    font-size: 1.8vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.7vmin;
    transition: 0.3s;
    border-style: none;
    outline-style: none;
}

.cart_checkout_buttons button:hover {
    color: #fc466b;
    transform: scale(1.05);
    cursor: pointer;
}
