@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-font-size: 16px !important;
}

html,body {
    height:100%;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

button:disabled,
button[disabled] {
    background-color: #888888;
}

.cart_grid_container {
    height: 100%;
    min-height: 60vh;
}

.checkout_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.limited_height {
    max-height: 45vh !important;
    height: 45vh !important;
}

.cart_checkout_buttons button:disabled:hover,
.cart_checkout_buttons button[disabled]:hover {
    color: #FFFFFF;
    transform: scale(1.00);
    cursor: not-allowed;
}

.checkout_section {
    display: none;
}

.checkout_section.active {
    display: flex;
}

.checkout_data_header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding-bottom: 1vmin;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.checkout_data_header li {
    cursor: pointer;
    color: #101010;
    opacity: .5;
}

.checkout_data_header li.active {
    opacity: 1 !important;
    color: #fc466b;
}

.checkout_data_container {
    display: flex;
    flex-direction: row;
    padding-top: 2vmin;
    height: 85%;
    width: 100%;
}

.checkout_section {
    width: 100%;
    height: 100%;
    padding-top: 2vmin;
}

.checkout_data_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2vmin;
    column-gap: 2vmin;
    padding-bottom: 5vmin;
    width: 100%;
    height: 100%;
    position: relative;
}

.checkout_grid_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    border-radius: 3vmin;
    border: transparent 2px solid;
    box-shadow: 0 0 10px #888888;
    padding: 1.5vmin;
    overflow-wrap: anywhere;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.checkout_grid_container h2,
.checkout_grid_container h4,
.checkout_grid_container a {
    width: 10vw;
    height: auto;
    display: block;
    word-wrap: break-word;
}

.add_address {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#addAddress {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
}

.add_address_oneline {
    display: flex;
    flex-direction: row;
}

.add_address h2 {
    padding-bottom: .5vmin;
}

.add_address form input {
    margin-bottom: .5vmin;
    width: 100%;
    font-size: 1.5vmin;
    color: #101010;
    border: none;
    outline: none;
    font-weight: 500;
    text-indent: 2px;
    appearance: none;
    padding: .5vmin;
    background: #f1f1f1;
    border-radius: 1vmin;
}

.addressitem_container .defaultText {
    position: absolute;
    top: 5.5vmin;
    font-size: 1.25vmin;
    font-weight: 400;
}

.add_address_oneline input:last-child {
    width: 30%;
    margin-left: 1vmin;
}

.addressitem_addbutton {
    display: flex;
    padding-top: 1vmin;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.addressitem_addbutton button {
    font-weight: 500;
    width: auto;
    text-align: center;
    font-size: 1.3vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: .8vmin;
    transition: ease-in-out 0.3s;
    border-style: none;
    outline-style: none;
}

[type=radio] {
    accent-color: #fc466b;
    height: 2vmin;
    width: 2vmin;
}

.checkout_data_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    float: bottom;
    width: 100%;
    height: auto;
}

.checkout_data_buttons button {
    width: auto;
    font-weight: 500;
    text-align: center;
    font-size: 1.8vmin;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 3vmin;
    background-color: #101010;
    padding: 1.3vmin;
    transition: 0.3s;
    border-style: none;
    outline-style: none;
}

.checkout_data_buttons button:hover {
    color: #fc466b;
    transform: scale(1.05);
    cursor: pointer;
}

.checkout_data_buttons .disable {
    background-color: #888888;
}

.checkout_data_buttons .disable:hover {
    color: #FFFFFF;
    transform: scale(1.00);
    cursor: not-allowed;
}
