@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

.background{
    background-color: #f9d4dc;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
    border-radius: 20px;
    padding: 10px;
}

.box-container{
    padding: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.address, 
.payment_method, 
.shipping_method{
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: large;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
}

.address:hover, 
.payment_method:hover, 
.shipping_method:hover{
    background-color: #f61b7a;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: large;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;

}

.headline_container{
}

.headline{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.box-headline{
    font-weight: bold;
}


.addBtn{
    background-color: #D4045F;
    border-style: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;

}

.addBtn:hover{
    background-color: #BD405B;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.error{
    background-color: #f9d4dc;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
}