@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.hero {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    transition: height 0.66s ease-out;
    display: flex;
}

.hero_right {
    width: 50%;
    overflow: hidden;
    display: flex;
}

.hero_right img {
    width: 100%;
    overflow: hidden;
    background: #f9d4dc;
    background-size:contain;
}

.hero_left {
    width: 50%;
    overflow: hidden;
    display: flex;
    background: #f9d4dc;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hero_text {
    width: 95%;
    align-items: center;
    justify-content: center;
    align-content: center;
    white-space: initial;
    text-align: center;
    padding: 0 10vmin;
}

.hero_text h1 {
    color: #101010;
    font-size: 7vmin;
    text-decoration: none;
    font-weight: 800;
}

.hero_text h4 {
    margin-top: 1.5vmin;
    color: #101010;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: 0 10vmin;
    width: 100%;
}

.hero_search {
    margin-top: 2rem;
    width: 95%;
}

.searchbar_container {
    display: flex;
    align-items: center;
    padding-top: 1vmin;
    justify-content: center;
    height: 6vmin;
    width: 100%;
}

.searchbar_container input {
    font-size: 2vmin;
    color: #101010;
    padding: 1.5vmin 1vmin;
    border: none;
    outline: none;
    border-radius: 3rem 0 0 3rem;
    width: 45%;
    background-color: #ffffff;
    text-indent: 25px;
    font-weight: 500;
}


.searchbar_container button {
    font-size: 2vmin;
    font-weight: 300;
    color: #FFFFFF;
    padding: 1.5vmin 1vmin;
    outline: none;
    border: none;
    border-radius: 0 3rem 3rem 0;
    width: 20%;
    background-color: #101010;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchbar_container button:hover {
    color: #fc466b;
}