@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;

}

.bestsellers {
    background-color: #d4e4f9;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.newitems {
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.bestsellers_header, .newitems_header {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.bestsellers_header {
    background: #d4e4f9;
}

.bestsellers_header h1, .newitems_header h1 {
    color: #101010;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 800;
}

.bestsellers_header h4, .newitems_header h4 {
    margin-top: 15px;
    color: #101010;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

.swiper {
    margin-top: 3vmin;
    height: 30vmin;
    width: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fc466b;
}

.swiper .swiper-button-prev, .swiper  .swiper-button-next {
    color: #1c1c1c;
}

.swiper-wrapper .image_wrapper {
    width: 100%;
    height: 100%;
}

.image_wrapper img {
    background-size: contain;
    width: 100%;
    height: 100%;
}