* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #f9d4dc;
}

.page_wrapper {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    transition: height 0.66s ease-out;
    display: flex;
}

.left_container {
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.left_container h1 {
    width: 95%;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    white-space: initial;
    text-align: center;
    padding: 22vmin 5vmin 0 5vmin;
    font-size: 3.5vmin;
    font-weight: 700;
}

.left_container h4 {
    width: 95%;
    align-items: center;
    justify-content: center;
    align-content: center;
    white-space: initial;
    text-align: center;
    padding: 1.5vmin 6vmin;
    font-weight: 500;
    font-size: 1.8vmin;
}

.left_container img {
    overflow: hidden;
    left: 0;
    bottom: 0;
    background-size: cover;
}

.right_container {
    width: 70%;
    overflow: hidden;
    display: flex;
    background: #FFFFFF;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    flex-direction: column;
    height: 100vh;
    white-space: initial;
    text-align: center;
    padding: 0 28vmin;
    justify-content: center;
}

.loginregister_wrapper {
    width: 80%;
    height: 50%;
}

.loginregister_wrapper h1 {
    width: 80%;
    text-decoration: none;
    text-align: start;
    font-size: 2.5vmin;
    font-weight: 700;
}

.form_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5vmin;
    justify-content: flex-start;
    position: relative;
    height: auto;
    width: 80%;
}

.loginregister_wrapper form {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
}

.form_container input {
    font-size: 1.8vmin;
    color: #101010;
    padding: 1.8vmin 1vmin;
    margin-bottom: 1vmin;
    border: none;
    outline: none;
    width: 100%;
    text-indent: 25px;
    font-weight: 500;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(#101010, #101010) center bottom 5px /calc(100% - 10px) 2px no-repeat;
    background-color: transparent;
}

.form_container button {
    font-size: 1.8vmin;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 2rem;
    padding: 1.8vmin 1vmin;
    outline: none;
    border: none;
    background-color: #101010;
    border-radius: 2.5vmin;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_container {
    margin-top: 2vmin;
    display: flex;
}

.button_container h4 {
    font-size: 1.5vmin;
    font-weight: 500;
    padding-right: 1rem;
}

.button_container a {
    text-decoration: none;
    font-weight: 500;
    color: #fc466b;
}