@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');


.product-background{
    background-color: #f9d4dc;
}

.product-container{
    margin-left: 500px;
    margin-right: 500px;
    display:flex
}

.product-right-side{
    margin-top: 100px;
    margin-bottom: 100px;
}

.product-left-side{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.product-image{
    width: 500px;
    height: 600px;
}

.product-headline{
    font-family: 'Poppins', sans-serif;
    width: 600px;
    line-height: 24px;
    margin-bottom: 30px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-description{
    font-family: 'Poppins', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 600px;
}

.product-price{
    margin-bottom: 30px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-qty-text{
    margin-bottom: 4px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.product-qty-selection{
    margin-top: 5px;
    margin-bottom: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    background-color: #DEBDC4;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-qty-selection[open]{
    margin-top: 5px;
    margin-bottom: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    background-color: #DEBDC4;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-qty-selection:hover{
    margin-top: 5px;
    margin-bottom: 30px;
    height: 40px;
    width: 70px;
    text-align: center;
    background-color: #C4A7AD;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-shopping-cart-btn:enabled{
    background-color: #D94A69;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-shopping-cart-btn:disabled{
    background-color: #D94A69;
    opacity: 0.3;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-shopping-cart-btn:hover{
    background-color: #BD405B;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



