@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.sale_wrapper {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.sale_header {
    width: 100%;
    margin-top: 5rem;
    overflow: hidden;
    display: flex;
    background: #f9d4dc;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.sale_header_text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hero_text h1 {
    color: #101010;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 800;
}