.background{
    background-color: #f9d4dc;
}

.shopping-cart-text{
    margin-left: 20px;
}

.shopping-cart-container{
    margin-top: 20px;
}

.product{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 15px;
}

.product-image{
    width: 150px;
    height: 150px;
    margin: auto;
}

.product-info{

}


.image{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.product-headline{
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    margin-bottom: 5px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-price{

}

.product-sum-price{
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: right;
    margin-right: 20px;
}

.end-price{
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.product-qty-text{
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete-icon{
    color: black;
    border: 2px solid #D4045F;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;

}

.button{
    background-color: #D94A69;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: right;
}

.button:hover{
    background-color: #BD405B;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 140px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: right;
}