@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-font-size: 16px !important;
}

body {
    line-height: 1.5;
    background-color: #f9d4dc;
}

.admin_dashboard_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr;
    row-gap: 5vmin;
    column-gap: 5vmin;
    border-radius: 5vmin;
    width: 70%;
    height: 100%;
    position: relative;
    margin-top: 5vmin;
}

.admin_dashboard_grid_container {
    background: #FFFFFF;
    border-radius: 3vmin;
    box-shadow: 0 0 10px #888888;
    padding: 3vmin;
    margin-bottom: 10vmin;
    width: auto;
    height: 100%;
}

#ordersOverview,
#revenueOverview {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid_container_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

.grid_container_header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 2vmin;
}

.grid_container_header h4 {
    font-size: 2vmin;
    font-weight: 600;
}

.grid_container_header h4::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #fc466b;
}

.grid_container_header i {
    font-size: 4vmin;
}

.grid_container_stats {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.grid_container_stats h1 {
    color: #fc466b;
    height: auto;
    font-size: 3vmin;
    font-weight: 600;
    padding-right: 1vmin;
}

.grid_container_data {
    margin-top: 2vmin;
    height: 100%;
    width: 100%;
}

#curve_chart {
    width: 100%;
}

.grid_container_side {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.side_grid_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 1vmin;
    height: 100%;
    max-height: 45vh;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 1vmin;
}

.side_grid_container {
    height: fit-content;
    padding-bottom: 1vmin;
    width: 90%;
    border-bottom-color: #888888;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.admin_orders_info_description {
    width: 100%;
    height: fit-content;
}

.admin_orders_info_description h2 {
    font-size: 2vmin;
    font-weight: 500;
}

.admin_orders_info_description h4 {
    font-size: 1.5vmin;
    font-weight: 500;
}

.side_container_empty {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}