#addData,
#editData {
    max-height: 35vh !important;
}

#addData button,
#editData button {
    margin-bottom: 1vmin;
}

table td,
table th{
    padding: 2vmin;
}

td {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

table th {
    padding-bottom: 0;
    padding-top: 0;
}